/* global reset */
html, body, body div, div, span, label, h1, h2, h3, h4, h5, h6, p, a, em, img, s, small, strong, sub, sup, b, u, i, dl, dt, dd, ol, ul, li, button, form, fieldset, article, aside, footer, header, main, nav, section, input, textarea, select, option {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: none;
}
html * {
    max-height: 1000000px;
}
.window {
    border: 5px solid rgb(82, 105, 185);
    border-style: ridge;
    width: max-content;
    font-size: large;
    margin: 50px auto;
    box-shadow: 10px 15px rgba(40 7 116 / 17%);
}
button {
    width: max-content;
    border: 2px solid rgb(14, 31, 94);
    padding: 5px;
    background-color: rgb(233, 237, 246);
}
p {
    padding: 15px;
}
#button_open {
    margin: 50px auto;
    display: flex;
    box-shadow: 5px 10px rgba(40 7 116 / 17%);
    font-size: large;
    padding: 10px;
}