@font-face {
	font-family: 'Open Sans Condensed';
	src: url('OpenSansCondensed-Italic.woff2') format('woff2'), url('OpenSansCondensed-Italic.woff') format('woff');
	font-weight: 400;
	font-style: italic;
}